<div class="base-backgound">
  <div class="main-style container">
  <ul class="list-group">
    <li class="list-group-item d-flex flex-column justify-content-center align-items-center">
      <div class="pt-5 pb-5"> <img src="" alt="user image"></div>
      <span class="d-flex align-items-center badge badge-warning"><%= current_user.role %></span>
    </li>
    <li class="list-group-item d-flex justify-content-between align-items-center">
    <%= current_user.teacher? ? 'Manage My Bookings' : 'My Booked Lessons' %>
 
      <button value="edit" name="edit" type="button" class=" main-link-icon">
          <%= link_to transactions_path do %>
            <%= my_bookings_icon %>
            <% end %>
          </button>
    </li>
    <li class="list-group-item d-flex justify-content-between align-items-center">
    <%= current_user.teacher? ? 'Manage My Courses' : 'My Enrolled Courses' %>
      <button value="edit" name="edit" type="button" class=" main-link-icon">
          <%= link_to groups_path do %>
            <%= svg('courses') %>
            <% end %>
          </button>
    </li>
    <% if current_user.teacher? %>
    <li class="list-group-item d-flex justify-content-between align-items-center">
      All Students
      <span class="badge badge-primary badge-pill">1</span>
    </li>
    <% end %>
  </ul>
  </div>
</div>