<%= link_to 'Add New Booking', new_transaction_path, class: "btn btn-btn-primary" %>
<!-- 

<div class="card">
  <div class="card-header">
    <ul class="nav nav-tabs card-header-tabs">
    <li class="nav-item">
        <a id="enabled-tab"  data-turbolinks="false" class="nav-link active" href="">Total Billable Bookings (<span class="ena-course"><%= #@group.enabled.count %></span>)</a>
      </li>
      <li class="nav-item">
        <a id="enabled-tab"  data-turbolinks="false" class="nav-link" href="">Pending Billable Bookings (<span class="ena-course"><%= #@group.enabled.count %></span>)</a>
      </li>
      <li class="nav-item">
        <a id="disabled-tab"  data-turbolinks="false" class="nav-link" href="">Accepted Billable Bookings  (<span class="dis-course"><%= #@group.disabled.count %></span>)</a>
      </li>
    </ul>
  </div>
  <div id="accepted-bb" class="enabled">
    <%= render 'layouts/accepted_bookings' %>
  </div>
  <div id="pending-bb" class="enabled">
    <%= render 'layouts/pending_bookings' %>
  </div>
</div>
 

 -->
