  <% if current_user.teacher? %>
  <div class="card">
    <div class="card-body">
      <span>Total Booked hours: <%= @transactions.sum(:minutes)/60 %></span> | 
      <span>Current Revenue: <%= @transactions.sum(:price) %> usd</span>
    </div>
  </div>
  <% end %>
   <% @transactions.each do |booking| %>
  <div data-turbolinks="false" id="booking-<%= booking.id %>" class=" shadows course-card card mb-3 mt-3 ml-1" style="max-width: 38rem;">
    <div class="card-header bg-transparent">
      <div class="media d-flex justify-content-between">
          <div class="header-left d-flex">
            <%= image_tag("ielts_cover_image.jpeg", size: "56x30", alt: "Edit Entry") %>
            <div class="media-body">
                <h5 class="mt-1 ml-4"><%= booking.student_name %></h5>
            </div>
          </div>
          <div class="header-right">
            <small class="text-muted">Booking date: <%= to_date(booking.date) %></small>
          </div>
      </div>
    </div>
    <div class="card-body">
      <h5 class="card-title mt-0 mb-0"><%= booking.course_name%></h5>
      <div class="d-flex justify-content-between align-items-center">
        <p class="mt-0 mb-0"><%= booking.minutes %> min</p>
        <p class="mt-0 mb-0"><%=  booking.price%> usd</p>
        <p class="text-muted mt-0 mb-0"><%=  status_tag(booking.status)%></p>
        <small class="text-muted"><%= booking.accepted_date%></small>
      </div>
    </div>
    <div class="card-footer bg-transparent d-flex justify-content-end">

      <% if current_user.teacher? %>
        <button type="button" class="shadows icon-btn btn">

        <%= link_to confirm_destroy_transaction_path(booking), data: { remote: true }, class: "delete" do %>
          <%= svg('trash_can') %>
          <% end %>
        </button>
      <% end %>

    </div>
  </div>
  <% end %>